<div>
<br/>
<br/>
	<div style ="float:left;padding:5px">Fetch History Data between &nbsp;</div><div id="fromDate" style="float:left"></div> <div style="float:left">&nbsp; and &nbsp;</div> <div id="toDate" style="float:left"></div><div><input type="button" id="fetchHistoryData" value="Go"/></div>
	<br/>
	<div id="temperatureChart" style="height:400px;width:400px;float:left"></div>
	<div id="moistureChart" style="height:400px;width:400px;float:left"></div>
	<div id="lightChart" style="height:400px;width:400px"></div>
<br/> 
</div>