<div>
<br/>
 <div id="addPlantSpecWindow" style="display:none">
 <div>
 	Plant Spec Details
 </div>
 <div>
	<input type="text" id="plantSpecName"/>
	<input type="text" id="maxTemp"/>
	<input type="text" id="minTemp"/>
	<input type="text" id="maxMoisture"/>
	<input type="text" id="minMoisture"/>
	<input type="text" id="maxVolts"/>
	<input type="text" id="minVolts"/><br/>
	<input type="button" id="submitPlantSpec" value="submit"/>
</div>
</div>  
<div id="buttons">
	<input type ="button" id="addPlantSpec" value="New Spec"/>
	
</div>
<br/>
<div id="plantsSpecGrid" style ="margin-left:3px;">
</div>
<br/>
<br/>
<br/>
</div>