<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>GreenMixManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
     <!-- Register resources and providers under com.vogella.jersey.first package. -->
    <init-param>
        <param-name>jersey.config.server.provider.packages</param-name>
        <param-value>com.msc.stuttgart.iot.greenmix.services;com.msc.stuttgart.iot.greenmix.beans;org.codehaus.jackson.jaxrs</param-value>
        
        <!-- <param-value>com.vogella.jersey.jaxb</param-value> -->
    </init-param>
    
  
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <!-- 
    <security-role>
        <role-name>administrator</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>
                GreenMix Application
            </web-resource-name>
            
            <url-pattern>/*</url-pattern>
             
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
         <realm-name>default</realm-name>
          <form-login-config>
 	 	<form-login-page>/auth/login.html</form-login-page>
  		<form-error-page>/auth/logout.html</form-error-page>
  		</form-login-config>
    </login-config>
  -->
</web-app>